In [ ]:
import pandas as pd
import numpy as np

movies = pd.read_excel('movies_merge.xlsx')
ott = pd.read_csv('ott_merge.csv')

print(movies.columns)
print(movies.shape)
print(ott.columns)
print(ott.shape)

mov_ott = pd.merge(movies, ott, how='left', on = 'ID')

print(mov_ott.columns)
print(mov_ott.shape)

In [2]:
mov_ott

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,0,0,1,0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,0,1,0,0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,0,0,1,0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1,0,0,0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0,0,0,1,0
16740,16741,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0,0,0,1,0
16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN,0,0,1,0
16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN,0,0,1,0
16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0,1,0,0,0

In [3]:
mov_ott_runtime = mov_ott[['ID', 'Title', 'Runtime', 'Genres']]    # Define df to work with, adding Title also

# View the output.
mov_ott_runtime

,ID,Title,Runtime,Genres
0,1,Inception,148.0,"Action,Adventure,Sci-Fi,Thriller"
1,2,The Matrix,136.0,"Action,Sci-Fi"
2,3,Avengers: Infinity War,149.0,"Action,Adventure,Sci-Fi"
3,4,Back to the Future,116.0,"Adventure,Comedy,Sci-Fi"
4,5,"The Good, the Bad and the Ugly",161.0,Western
...,...,...,...,...
16739,16740,The Ghosts of Buxley Hall,120.0,"Comedy,Family,Fantasy,Horror"
16740,16741,The Poof Point,90.0,"Comedy,Family,Sci-Fi"
16741,16742,Sharks of Lost Island,NaN,Documentary
16742,16743,Man Among Cheetahs,NaN,Documentary
16743,16744,In Beaver Valley,32.0,"Documentary,Short,Family"

In [4]:
# question 1, Add one minute to the runtime for ads

mov_ott_runtime['Runtime'].add(1)    # Add 60 seconds or 1 minute to runtime, use add() because its series.

0        149.0
1        137.0
2        150.0
3        117.0
4        162.0
         ...
16739    121.0
16740     91.0
16741      NaN
16742      NaN
16743     33.0
Name: Runtime, Length: 16744, dtype: float64

In [6]:
# question 2, Which movies are documentaries?

# create new column in df Gen_doc with documentaries or not.
# specify the column py needs to look, the value, the value to return if true, and the value if false
mov_ott_runtime['Gen_doc'] = np.where(mov_ott_runtime['Genres'].str.contains('Documentary'),
                                      'Documentary', 'Not Documentary')

# View the DataFrame.
mov_ott_runtime

C:\Users\lefteris\AppData\Local\Temp/ipykernel_20280/116857149.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mov_ott_runtime['Gen_doc'] = np.where(mov_ott_runtime['Genres'].str.contains('Documentary'),

,ID,Title,Runtime,Genres,Gen_doc
0,1,Inception,148.0,"Action,Adventure,Sci-Fi,Thriller",Not Documentary
1,2,The Matrix,136.0,"Action,Sci-Fi",Not Documentary
2,3,Avengers: Infinity War,149.0,"Action,Adventure,Sci-Fi",Not Documentary
3,4,Back to the Future,116.0,"Adventure,Comedy,Sci-Fi",Not Documentary
4,5,"The Good, the Bad and the Ugly",161.0,Western,Not Documentary
...,...,...,...,...,...
16739,16740,The Ghosts of Buxley Hall,120.0,"Comedy,Family,Fantasy,Horror",Not Documentary
16740,16741,The Poof Point,90.0,"Comedy,Family,Sci-Fi",Not Documentary
16741,16742,Sharks of Lost Island,NaN,Documentary,Documentary
16742,16743,Man Among Cheetahs,NaN,Documentary,Documentary
16743,16744,In Beaver Valley,32.0,"Documentary,Short,Family",Documentary

In [7]:
mov_ott_runtime.Gen_doc.apply(len) #the length of gen_doc

0        15
1        15
2        15
3        15
4        15
         ..
16739    15
16740    15
16741    11
16742    11
16743    11
Name: Gen_doc, Length: 16744, dtype: int64

In [ ]:
# you can substract using mov_ott_runtime['Runtime'].subtract(0.01)